<div class="row">
  <% @doctors.each do |doctor| %>
    <div class="col-sm-6 col-lg-4 pb-3 d-flex justify-content-center text-center">
      <div class="card" style="width: 18rem;">
        <%= fa_icon "user-md 5x" %>
        <div class="card-body">
          <h5 class="card-title"><%= doctor.name %></h5>
          <% doctor.hospitals do |hospital| %>
            <p class="card-text"><%= hospital.name %></p>
          <% end %>
          <%# if current_user.nil? || current_user.try(:role).eql?('customer') %>
            <!-- <a href="#" class="btn btn-primary">Booking doctor</a> -->
          <%# end %>
        </div>
      </div>
    </div>
  <% end %>
</div>