<div class="d-flex justify-content-center">
	<div class="row">
		<%= link_to doctors_url do %>
		  <div class="col-sm d-flex justify-content-center text-center">
				<div class="card" style="width: 18rem;">
				  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
				  <%= fa_icon "user-md 5x" %>
				  <div class="card-body">
				    <h5 class="card-title">Doctors</h5>
				  </div>
				</div>
		  </div>
		<% end %>

		<%= link_to hospitals_url do %>
		  <div class="col-sm d-flex justify-content-center text-center">
				<div class="card" style="width: 18rem;">
				  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
				  <%= fa_icon "h-square 5x" %>
				  <div class="card-body">
				    <h5 class="card-title">Hospitals</h5>
				  </div>
				</div>
		  </div>
		<% end %>
	</div>
</div>